<div
  class="flex flex-col gap-y-4 px-4 py-2 border-r-primary-content bg-base-300 border-r-2 max-w-64 max-h-screen overflow-y-auto">
  @for (page of pages; track page.id){
  <div
    class="group w-40 h-40 min-w-40 min-h-40 bg-base-200 rounded-lg relative border-transparent border-2 hover:border-primary hover:cursor-pointer transition-all duration-200 ease-in">
    <span
      class="badge badge-neutral badge-lg absolute z-40 top-1.5 left-1.5  group-hover:badge-accent">{{page.order}}</span>
    <img src={{page.image}} alt="image{{page.id}}" class="w-full h-full object-cover rounded-lg">
  </div>
  @if($last){
  <div
    class="group w-40 h-40 min-w-40 min-h-40 bg-base-200 rounded-lg flex flex-col items-center justify-center relative border-primary border-dashed border-2 hover:border-secondary-content hover:cursor-pointer transition-all duration-200 ease-in">
    <ng-icon name="heroPlus"
      class="text-3xl text-primary group-hover:text-secondary-content transition-all duration-200 ease-in"></ng-icon>
    <p class="text-lg text-primary group-hover:text-secondary-content transition-all duration-200 ease-in">Add a new
      page</p>
  </div>
  }
  }
</div>
