@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

.background {
    background-image: url('background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

.title {
    display: block;
    font-family: 'Rock Salt', serif;
    color: white;
}

.content {
    margin: auto;
  }
