<div class="flex flex-row mx-auto items-center justify-center min-h-full text-center p-6 form-success-content">
  <div class="w-[600px] h-[600px] rounded-lg overflow-hidden ">
    @if (imageUrl) {
    <img [src]="imageUrl" alt="Generated story image" class="w-full h-full object-cover" />
    } @else if (isGeneratingImage) {
    <div class="w-full h-full bg-primary-content flex flex-col items-center justify-center">
      <h2 class="text-xl mb-4">Generating your Image</h2>
      <span class="loading loading-spinner loading-lg"></span>
    </div>
    } @else {
    <div class="w-full h-full bg-primary-content flex items-center justify-center">
      <ng-icon name="heroPhoto" class="text-6xl text-secondary-content opacity-50"></ng-icon>
    </div>
    }
  </div>

  <div class="text-6xl mx-4">
    <h1 class="text-secondary-content">{{ title }}</h1>
    <div class="divider w-[900px]"></div>

    <form [formGroup]="form" class="flex flex-col items-center w-full max-w-full mb-4">
      <textarea formControlName="text" placeholder="Write your story here ..."
        class="textarea textarea-secondary border-none outline-none focus:outline-none resize-none w-[900px] h-[200px] text-2xl text-secondary-content p-4">
      </textarea>
    </form>

    <div class="flex flex-row justify-start w-[900px]">
      <button (click)="generateImage()" class="btn btn-primary" [disabled]="isGeneratingImage || !form.valid">
        <ng-icon name="heroSparklesSolid"></ng-icon>
        <span class="ml-2">Generate Image</span>
      </button>
    </div>
  </div>
</div>
