<div class="p-10 credit-content">
  <h1 class="text-4xl font-bold mb-4">Credit</h1>
  <p>
    The design of books on this website are inspired by the book component on
    <a class="text-teal-600 hover:text-teal-800 cursor-pointer"
      href="https://codepen.io/oliviale/pen/bLYQQE">CodePen</a>
    by Olivia Ng.
  </p>
  <p>
    ChatGPT and stack overflow for helping with bugs and styling
    <a class="text-teal-600 hover:text-teal-800 cursor-pointer" href="https://chatgpt.com/">Chatgpt</a>
    <a class="text-teal-600 hover:text-teal-800 cursor-pointer" href="https://stackoverflow.com/">stack overflow</a>
  </p>
  <p>
    The yjs community for helping with fixing many collab bugs
    <a class="text-teal-600 hover:text-teal-800 cursor-pointer" href="https://discuss.yjs.dev/">Yjs </a>
  </p>
</div>
