<div class="navbar bg-base-200">
    <!-- logo -->
    <div class="navbar-start">
        <div class="flex-none pl-10">
            <a class="text-xl logo">TaleWeaver</a>
          </div>
    </div>

    <!-- Search Bar -->
    <div class="navbar-center w-1/2">
        <div class="form-control w-full">            
            <input 
                type="text" 
                placeholder="Search for the story book you created" 
                class="input input-bordered input-md"/>
        </div>
    </div>
    
    <div class="navbar-end pr-10">
        <ul class="menu rounded-box menu-horizontal z-[1]">
            <li class="rounded-box bg-base-100">
              <details>
                <summary>
                    <div class="avatar placeholder">
                        <div class="bg-neutral text-neutral-content w-8 rounded-full">
                            <span class="text-m">K</span>
                        </div>
                    </div>
                </summary>
                <ul class="p-2 w-max">
                  <li><a>Setting</a></li>
                  <li><a>Logout</a></li>
                </ul>
              </details>
            </li>
        </ul>
    </div>
</div>

<div class="flex justify-between px-10 py-5 shadow-xl">
    <div class="card card-side bg-secondary shadow-xl w-96">
        <div class="card-body">
          <h2 class="card-title text-accent-content">USE OUR TEMPLATE</h2>
          <p class="text-accent-content text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa elit lectus enim id euismod. Gravida at praesent aliquam, at natoque at leo. Faucibus quam ipsum mi eget consectetur posuere dui vulputate magna.</p>
          <div class="card-actions justify-end">
            <button class="btn btn-outline btn-info">START NOW!</button>
          </div>
        </div>
    </div>
    <div class="card card-side bg-secondary shadow-xl w-96">
        <div class="card-body">
          <h2 class="card-title text-accent-content">FEATURE 3</h2>
          <p class="text-accent-content text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa elit lectus enim id euismod. Gravida at praesent aliquam, at natoque at leo. Faucibus quam ipsum mi eget consectetur posuere dui vulputate magna.</p>
          <div class="card-actions justify-end">
            <button class="btn btn-outline btn-info">START NOW!</button>
          </div>
        </div>
    </div>
    <div class="card card-side bg-secondary shadow-xl w-96">
        <div class="card-body">
          <h2 class="card-title text-accent-content">FEATURE 2</h2>
          <p class="text-accent-content text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa elit lectus enim id euismod. Gravida at praesent aliquam, at natoque at leo. Faucibus quam ipsum mi eget consectetur posuere dui vulputate magna.</p>
          <div class="card-actions justify-end">
            <button class="btn btn-outline btn-info">START NOW!</button>
          </div>
        </div>
    </div>
</div>

<div class="books flex bg-base-200 justify-between px-10 py-5">
    <div class="card bg-base-300 w-1/5 shadow-xl">
        <figure class="image-container">
            <img
                src="https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.jpg"
                alt="Movie"
                class="image-cropped"
            />
        </figure>
        <div class="card-body">
          <p>
            My First Story Book
          </p>
          <p class="text-xs">Edited: 2014-06-23</p>
        </div>
      </div>
</div>

<!-- directive that tells Angular where to display the component associated with the current route -->
<router-outlet />
