<app-nav-bar></app-nav-bar>
<div class="flex justify-between px-10 py-5 shadow-xl">
    <div class="card card-side bg-secondary shadow-xl mx-5">
        <div class="card-body">
          <h2 class="card-title text-accent-content">USE OUR TEMPLATE</h2>
          <p class="text-accent-content text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa elit lectus enim id euismod. Gravida at praesent aliquam, at natoque at leo. Faucibus quam ipsum mi eget consectetur posuere dui vulputate magna.</p>
          <div class="card-actions justify-end">
            <button class="btn btn-outline">START NOW!</button>
          </div>
        </div>
    </div>
    <div class="card card-side bg-purple-900 shadow-xl mx-5">
        <div class="card-body">
          <h2 class="card-title text-accent-content">FEATURE 2</h2>
          <p class="text-accent-content text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa elit lectus enim id euismod. Gravida at praesent aliquam, at natoque at leo. Faucibus quam ipsum mi eget consectetur posuere dui vulputate magna.</p>
          <div class="card-actions justify-end">
            <button class="btn btn-outline">START NOW!</button>
          </div>
        </div>
    </div>
    <div class="card card-side bg-pink-900 shadow-xl mx-5">
        <div class="card-body">
          <h2 class="card-title text-accent-content">FEATURE 3</h2>
          <p class="text-accent-content text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa elit lectus enim id euismod. Gravida at praesent aliquam, at natoque at leo. Faucibus quam ipsum mi eget consectetur posuere dui vulputate magna.</p>
          <div class="card-actions justify-end">
            <button class="btn btn-outline">START NOW!</button>
          </div>
        </div>
    </div>
</div>

<div class="books flex bg-base-300 justify-between px-10 py-5">
    <div class="card bg-base-100 text-accent-content w-1/5 shadow-xl">
        <figure class="image-container">
            <img
                src="https://images.unsplash.com/photo-1717379026834-d36e707f4d24?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="Movie"
                class="image-cropped"
            />
        </figure>
        <div class="card-body">
          <p class="text-md font-bold">
            My First Story Book
          </p>
          <p class="text-sm">Edited: 2014-06-23</p>
        </div>
      </div>
</div>
