<div class="book-wrapper py-2 pr-10 flex justify-end">
    <div class="storybook">
      <div class="storybook-cover" 
      [class.flip-left]="coverIsFlipped === 0? false : (coverIsFlipped % 2 !== 0 ? true : false)"
      [class.flip-right]="coverIsFlipped === 0? false : (coverIsFlipped % 2 === 0 ? true : false)"
      (click)="flipCover()">
        <div class="storybook-skin py-3 pl-3 pr-8">
          <div class="storybook-skin-content">
            <div class="storybook-title font-bold text-sm truncate">My First Story Book</div>
            <div class="storybook-date lining-nums font-bold">Edited: 2024/07/02</div>
          </div>
        </div>
      </div>
      <!-- <div class="storybook-pages" *ngFor="let page of pages; let i = index">
        <div class="storybook-page back"
         [class.flip-left]="isFlipped[p.page] === 0? false : (isFlipped[p.page] % 2 !== 0 ? true : false)"
         [class.flip-right]="isFlipped[p.page] === 0? false : (isFlipped[p.page] % 2 === 0 ? true : false)"
         (click)="flipPage(i)">
          <div class="story m-2 text-xs">
              <p class="story-text">{{ pages[i + 1]?.story }}</p>
          </div>
        </div>
        <div class="storybook-page front" 
        [class.flip-left]="isFlipped[p.page] === 0? false : (isFlipped[p.page] % 2 !== 0 ? true : false)"
        [class.flip-right]="isFlipped[p.page] === 0? false : (isFlipped[p.page] % 2 === 0 ? true : false)"
        (click)="flipPage(i)">
            <div class="story m-2 text-xs">
                <p class="story-text">{{ pages[p.page].story }}</p>
            </div>
        </div>
      </div> -->
      <div *ngFor="let p of flippedPages; let i = index">
        <div class="storybook-pages">
          <div class="storybook-page back"
            [class.flip-left]="isFlipped[p.page-1] === 0? false : (isFlipped[p.page-1] % 2 !== 0 ? true : false)"
            [class.flip-right]="isFlipped[p.page-1] === 0? false : (isFlipped[p.page-1] % 2 === 0 ? true : false)"
            (click)="flipPage(p.page-1)">
            <div class="story m-2 text-xs">
                <p class="story-text">{{ flippedPages[i+1]?.story }}</p>
            </div>
          </div>
        </div>
      </div>
      <div *ngFor="let p of pages; let i = index;">
        <div class="storybook-pages">
          <div class="storybook-page front" 
            [class.flip-left]="isFlipped[p.page-1] === 0? false : (isFlipped[p.page-1] % 2 !== 0 ? true : false)"
            [class.flip-right]="isFlipped[p.page-1] === 0? false : (isFlipped[p.page-1] % 2 === 0 ? true : false)"
            (click)="flipPage(p.page-1)">
            <div class="story m-2 text-xs">
                <p class="story-text">{{ p.story }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="storybook-backcover" 
        [class.flip-left]="backCoverIsFlipped === 0? false : (backCoverIsFlipped % 2 !== 0 ? true : false)"
        [class.flip-right]="backCoverIsFlipped === 0? false : (backCoverIsFlipped % 2 === 0 ? true : false)"
       (click)="flipBackCover()"></div>
    </div>
  </div>
  